/*CSS reset settings here*/

* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 970px;
    background-color: rgb(18, 53, 91);
    margin: 0px auto;
}

#header {
    color: rgb(0, 0, 0);
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    min-height: 40px;
    background-color: rgb(255, 255, 255);
}

h1 {
    margin-left: 200px;
}

h2 {
    margin-left: 200px;
}

#navigation {
    vertical-align: top;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    min-height: 230px;
    width: 190px;
    color: rgb(191, 215, 234);
    background-color: rgb(8, 126, 139);
}

#main_content {
    vertical-align: top;
    border-radius: 20px;
    margin-left: 30px;
    color: rgb(191, 215, 234);
    padding: 10px;
    margin: 15px;
    display: inline-block;
    min-height: 400px;
    width: 685px;
    background-color: rgb(12, 24, 33)
}

#finish {
    color: rgb(191, 215, 234);
    border-radius: 20px;
    vertical-align: top;
    margin: 10px;
    padding: 10px;
    min-height: 30px;
    background-color: rgb(92, 102, 114)
}

span {
    color: blue;
}